@font-face {
  font-family: Dosis;
  src: url('https://fonts.googleapis.com/css?family=Dosis');
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#ffbf007d;
  height: 100%;
  width: 100%;
}

.Title {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 1;
  font-size: 2em;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.Title p {
  margin:0;
}

 nav {
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
}

.Player {
  order: 1;
  margin: 0 5%;
  text-align: center;
}

.Player-Title {
  font-size: 1em;
  margin: 0;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

button {
  font-size: 1rem;
  margin: 0 1%;
}

.Header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  background-color: #6390B5;
  justify-content: space-around;
}

.game-container {
  display:flex;
  align-items: flex-end;
  justify-content: space-around;
  width:100%;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  text-align: right;
  margin:0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 500;
  outline: none;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.game-header {
  text-align: center;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 5%;
  margin-top: 2%;
}

.multi-board {
  display: flex;
  flex-wrap:wrap;
}

.highlight {
  background-color: #C0D6E5;
}

.currentDepth {
  text-align: center;
  margin: 0;
}

.depthLabel {
  margin: 33%;
}

.evaluation {
  display: flex;
  justify-content: flex-end;
}

.varEval {
  text-align: center;
}

.movesEval {
  display: flex;
}
.movelist {
  display: flex;
  flex-direction: column;
  background-color: #f5f2e9;
  height: 300px;
  width: 350px;
}

.moves {
  columns: 2;
  font-size: 1.25em;
  overflow-y: auto;
  font-weight: 500;
  column-rule: solid black 1px;
}

.movesTitle {
  width: fit-container;
  text-align: center;
  line-height: 2.3em;
  height: 2.3em;
  font-size: 1.5em;
  background-color: #6390B5;
  border: solid black 1px;
}

.info {
  height: 300px;
  overflow-y:auto;
  background-color: #f5f2e9;
}

.pv {
  background-color: #f5f2e9;
  height: 300px;
  overflow-y: auto;
}

.eval-container {
  width: 300px;
  height: 300px;
  align-self: center;
  margin: 0 5% 5%;
}

meter {
  margin-left: 5%;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: Black;
  box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
  background: none;
  background-color: White;
}

.move-button-wrapper {
  height: 90px;
  text-align: center;
  border: solid black 1px;
}

.move-button-wrapper button {
  margin: 2% 1%;
}

.gameInfo {
  font-size: 1.25em;
  font-weight: 500;
}

.gameInfo p {
  margin: 10px;
}

.GameHeader {
  font-size:1em;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #b563b2c2;
  border: black solid 1px;
}

.GameHeader h2 {
  margin:1px;
}

.Eval2 {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 350px;
  margin-bottom: 10%;
  margin-top:2%;
}

.eval2Info {
  height: 300px;
  font-size: 1.25em;
  overflow-y: auto;
  font-weight: 500;
  background-color: #f5f2e9;
  column-rule: solid black 1px;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.eval-button-wrapper {
  border: solid black 1px;
  text-align: center;
  background-color: #f5f2e9
}

.pv {
  margin-top: 5%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



@keyframes hideEval {
  from {
    height: 100%;

  }
  to {
    height: 0%;
  }
}

@keyframes showEval {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
