@font-face {
  font-family: Dosis;
  src: url('https://fonts.googleapis.com/css?family=Dosis');
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d4777;
}

.CountDown-container {
  display: flex;
  justify-content: space-between;
  font-family: Dosis, sans-serif;
  font-size: 55px;
  color: white;
  background-color: black;
}

.TimeUnit {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TimeName {
  font-size: 20px;
  color: #5e5e5e;
  font-weight: bolder;
}

.Title {
  text-align: center;
}

.Player-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Player {
  flex-basis: 33%;
}
